* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav .logo {
    margin: 20px 0;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
