* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 80px;
    width: 100vw;
    height:500px;
    background:    linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.75) 80%, rgba(0, 0, 0, 0.95) 100%),
    url('../../res/img/complaintTrackBackground.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
}

header h1 {
    margin: 12px;
}

header p {
    margin: 12px;
}

header h2 {
    margin: 12px;
    display: inline-block;
    color: orangered;
}

header input {
    border: none;
}

header #complaintSpan {
    color: skyblue;
    font-weight: bolder;
    font-size: larger;
}

.dtls {
    height: 500vh;
}